
root {
    position: "absolute";
    top: 2;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: "hidden";
  }
  .container{
      height:95%;
      width:250px;
      background-color: darkslategray;
      color:whitesmoke;
  }
  sidebar{
    z-Index: 2;
    position: "absolute";
    top: 0;
    bottom: 0;
    transition: "transform .3s ease-out";
    -webkit-transition: "-webkit-transform .3s ease-out";
    will-Change: "transform";
    overflow-Y: "auto";
  }
  content {
    position: "absolute";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: "auto";
    -webkit-overflow-scrolling: "touch";
    transition: "left .3s ease-out, right .3s ease-out";
  }
  overlay {
    z-Index: 1;
    position: "fixed";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: "hidden";
    transition: "opacity .3s ease-out, visibility .3s ease-out";
    background-Color: rgba(0,0,0,.3);
     }
  dragHandle {
    z-Index: 1;
    position: "fixed";
    top: 0;
    bottom: 0;
  }
