.Panel{
    width:90%;
    height:60vh;
    background-color: #174952;
    border:1px solid rgb(204, 204, 204);
    display:flex;
    flex-direction: column;
    justify-content:center;
    border-radius:5px;
    margin:20px auto;
    box-shadow: 5px 10px #888888;
}
.btn-container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding:20px;
}
.btn{
    width:20%;
    height:220px;
    border-radius: 50%;
    background-color: whitesmoke;
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content:center;
    transition: 0.3s;
}

.btn:active{
    transform:scale(0.9);
}
.btn i{
    font-size: 50px;
    transition: 0.1s;
    color:#3f51b6;
}
.btn i:active{
    color:rgb(85, 83, 83);

}