*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

input,button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color:white;
}

form{
  display:block;
  position: relative;


}
form:after{
  content:'';
  display:block;
  position:absolute;
  top:-3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  background-image: linear-gradient(to bottom right,#181a19,#34c3eb);
}
form .form-inner{
  position: relative;
  display: block;
  background-color:whitesmoke ;
  padding:10px;
  z-index: 2;
}
form .form-inner h2{
  color:#6b1a0c;
  font-size:28px;
  font-weight:500;
  margin-bottom: 30px;
}
form .form-inner .form-group{
  display:block;
  width: 300px;
  margin-bottom: 15px;
}
.form-inner .form-group label{
  display:block;
  color: #181a19;
  font-size: 12px;
  margin-bottom:5px;
  transition: 0.8s;
}
.form-inner .form-group:focus-within label{
  color: #34c3eb;

}
form .form-inner .form-group input{
  display:block;
  width:100%;
  padding: 10px 15px;
  background-color:#f8f8f8;
  border-radius: 8px;
  transition:0.8s;
}
form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0, 0,0, 1);
}
form .form-inner input[type="submit"]{
  display:inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  background-image: linear-gradient(to right,#88b2cf 50%,#33383b 50%,#b3c1c9 50%);
  background-size: 200%;
  background-position: 0%;
  transition:0.4s;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}
form .form-inner input[type="submit"]:hover{
  background-position: 100% 0%;
}