.app{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app_container{
  margin-top: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.app_input{
  margin-top: 10px;
}